<h2 class="ui center aligned medium icon header">
  <i class="circular orange coffee icon"></i>
  Say Something
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised chatbox card">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/elliot.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Elliot Fu
                </a> added you as a friend
                <div class="date">
                  1 Hour Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/helen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Helen Troy</a> added <a>2 new illustrations</a>
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="/images/wireframe/image.png"></a>
                <a><img src="/images/wireframe/image.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 1 Like
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/jenny.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a class="user">
                  Jenny Hess
                </a> added you as a friend
                <div class="date">
                  2 Days Ago
                </div>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 8 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/joe.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Joe Henderson</a> posted on his page
                <div class="date">
                  3 days ago
                </div>
              </div>
              <div class="extra text">
                Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
            </div>
          </div>
          <div class="event">
            <div class="label">
              <img src="/images/avatar/small/justen.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>Justen Kitsune</a> added <a>2 new photos</a> of you
                <div class="date">
                  4 days ago
                </div>
              </div>
              <div class="extra images">
                <a><img src="/images/wireframe/image.png"></a>
                <a><img src="/images/wireframe/image.png"></a>
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 41 Likes
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fuild icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted orange edit icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
